<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="templates\static\styles.css">

</head>

<body>
    {% for day in dates %}
        <div>
        {{ day.day}} {{ day.month}} {{ day.year}}
        {% for event in day.events %}

            {{ event.title_text }}
        {% endfor %}

        </div>
    {% endfor %}

    <h2>YEET</h2>
    <p class="p1">YEET but fancier</p>
    
</body>

</html>